
/*Div that holds the entire calendar*/
.calendar{
	width:auto;
	padding:5px;
	width:168px;
	display:block;
}

/*An individual number on the calendar*/
.calendar_date{
	position:relative;
	font-weight:bold;
	font-size:0.8em;
	
}

/*Calendar heading that displays the name of the month*/
.calendar_header{
	font-size:1.2em;
	font-color:black;
}

/*The small panel that pops up displaying calendar data when you hover over the date*/
.date_data{
	position:absolute;
	z-index=-100;
	display:none;
	background-color:lightblue;

}

/*The div that a single notification message in the mealplanner tools*/
.notification{
	text-align:center;
	padding:8px;
	font-weight:bold;
	color:white;
	margin:0px;
}
/*The div that holds all notification messages in the mealplanner tools*/
.notifications{
}

.center{
	text-align:center;
	align:center;
	margin-left:auto;
	margin-right:auto;
}

.alignRight{
	text-align:right;
}

.floatRight{
	float:right;
}

.indentForty{
	padding-left:40px;
}

/*All admin tools as separate panels*/
.toolPanel{
	display:inline-block;
	padding:10px;
}
/*Div containing all admin tools*/
.adminTools{
	width:90%;
	height:1100px;
	position:relative;
}
/*A div containing all listboxes of meals for a given date in the mealplanner tools*/
.mealListParent{
	display: flex;
}
/*A div containing a single listbox which displays all meals in the mealplanner tools*/
.mealList{
	padding:10px;
}

.absolute{
	position:absolute;
}

/*The notes and events textareas in the meal picker*/
.toolsNotesEvents{
	width:375px;
	height:180px;
	padding:10px;
	background-size:100%;
	background-repeat: no-repeat;
	display:inline-block;

}