
/*Div that holds the entire calendar*/
.calendar{
	width:auto;
	padding:5px;
	width:168px;
	display:block;
}

/*An individual number on the calendar*/
.calendar_date{
	position:relative;
	font-weight:bold;
	font-size:0.8em;
	
}

/*Calendar heading that displays the name of the month*/
.calendar_header{
	font-size:1.2em;
	font-color:black;
}

/*The small panel that pops up displaying calendar data when you hover over the date*/
.date_data{
	z-index=-1;
	position:absolute;
	display:none;
	background-color:lightblue;

}

/*The div that a single notification message in the mealplanner tools*/
.notification{
	text-align:center;
	padding:8px;
	font-weight:bold;
	color:white;
	margin:0px;
}
/*The div that holds all notification messages in the mealplanner tools*/
.notifications{
}

.center{
	text-align:center;
}

.alignRight{
	text-align:right;
}

.indentForty{
	padding-left:40px;
}

.toolPanel{
	display:inline-block;
}